Understanding the dataset to explore how is present in the database and if there is a need of creating some aggregated tables that can help with:
   
   
   Vender selection for profitability
   
   
   product pricing optimiztion

In [1]:
import pandas as pd
import sqlite3

In [2]:
# creating database connection

conn= sqlite3.connect('inventory.db')

In [3]:
# checking table present in database

tables=pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'",conn)
tables

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vender_sales_summary
7  vendor_sales_summary

In [4]:
print(tables)
print(type(tables))

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vender_sales_summary
7  vendor_sales_summary
<class 'pandas.core.frame.DataFrame'>

In [5]:
for table in tables['name']:
    print('-'*50,f'{table}','-'*50)
    count=pd.read_sql(f'select count(*) as count from {table}',conn)['count'].values[0]
    print('Count of records:',count)
    display(pd.read_sql(f"select * from {table} limit 5",conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 6529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,77_TAMWORTH_2366,77,TAMWORTH,2366,Templeton Rye Whiskey,750mL,4,34.99,2024-01-01
1,77_TAMWORTH_2368,77,TAMWORTH,2368,Balvenie 17 Yr Doublewood,750mL,5,139.99,2024-01-01
2,77_TAMWORTH_2373,77,TAMWORTH,2373,Jim Beam Maple,750mL,33,13.99,2024-01-01
3,77_TAMWORTH_2374,77,TAMWORTH,2374,Tullamore Dew,1.75L,12,39.99,2024-01-01
4,77_TAMWORTH_2382,77,TAMWORTH,2382,Opihr London Dry Gin,750mL,4,27.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 24489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,73_DONCASTER_43131,73,DONCASTER,43131,Carpano Antica Formula,375mL,11,14.99,2024-12-31
1,73_DONCASTER_43143,73,DONCASTER,43143,La Puerta Torrontes,750mL,16,8.99,2024-12-31
2,73_DONCASTER_43152,73,DONCASTER,43152,Ramey Chard Sonoma Coast,750mL,15,37.99,2024-12-31
3,73_DONCASTER_43184,73,DONCASTER,43184,Writer's Block Cab Franc,750mL,12,15.99,2024-12-31
4,73_DONCASTER_43193,73,DONCASTER,43193,Dancing Bull Zabaco Cab Svgn,750mL,22,8.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 72474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,34_PITMERDEN_5587,34,5587,Jose Cuervo Golden Margarita,1.75L,7245,PROXIMO SPIRITS INC.,13536,2024-12-15,2024-12-19,2024-12-29,2025-02-06,13.17,1,13.17,1
1,22_SHARNWICK_4174,22,4174,Kraken Black Spiced Rum,1.75L,7245,PROXIMO SPIRITS INC.,13536,2024-12-15,2024-12-22,2024-12-29,2025-02-06,21.59,6,129.54,1
2,8_ALNERWICK_5767,8,5767,Jose Cuervo Strawberry Marg,1.75L,7245,PROXIMO SPIRITS INC.,13536,2024-12-15,2024-12-20,2024-12-29,2025-02-06,10.36,5,51.80,1
3,72_HARDERSFIELD_3787,72,3787,Jose Cuervo Especial Silver,750mL,7245,PROXIMO SPIRITS INC.,13536,2024-12-15,2024-12-19,2024-12-29,2025-02-06,11.80,12,141.60,1
4,30_CULCHETH_3802,30,3802,Three Olives Vodka,1.75L,7245,PROXIMO SPIRITS INC.,13536,2024-12-15,2024-12-22,2024-12-29,2025-02-06,13.43,4,53.72,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
Count of records: 25363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,8_ALNERWICK_5096,8,5096,DeKuyper Peachtree Schnapps,750mL,1,10.99,10.99,2024-12-20,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,8_ALNERWICK_5096,8,5096,DeKuyper Peachtree Schnapps,750mL,1,10.99,10.99,2024-12-21,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
2,8_ALNERWICK_5096,8,5096,DeKuyper Peachtree Schnapps,750mL,4,43.96,10.99,2024-12-23,750.0,1,3.15,12546,JIM BEAM BRANDS COMPANY
3,8_ALNERWICK_5096,8,5096,DeKuyper Peachtree Schnapps,750mL,2,21.98,10.99,2024-12-26,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
4,8_ALNERWICK_5096,8,5096,DeKuyper Peachtree Schnapps,750mL,1,10.99,10.99,2024-12-27,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- vender_sales_summary --------------------------------------------------
Count of records: 4701

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,517.0,10851.83,461.78,949.94,6798,109923.66,257032.07,-99071.83,-912.950442,0.076052,0.098722
1,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,1750.0,148.0,5622.52,835.78,271.95,3169,97478.44,123780.22,-91855.92,-1633.714420,0.046702,0.057680
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,341.0,9885.59,637.78,626.58,4036,93594.84,144929.24,-83709.25,-846.780516,0.084490,0.105621
3,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,170.0,5948.30,769.78,312.35,3307,86874.89,68601.68,-80926.59,-1360.499470,0.051406,0.068470
4,8004,SAZERAC CO INC,5138,Fireball Cinnamon Whisky,11.10,13.99,750.0,344.0,4812.56,601.57,270.86,5998,66577.80,50293.62,-61765.24,-1283.417557,0.057352,0.072285

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 4701

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,517.0,10851.83,461.78,949.94,6798,109923.66,257032.07,-99071.83,-912.950442,0.076052,0.098722
1,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,1750.0,148.0,5622.52,835.78,271.95,3169,97478.44,123780.22,-91855.92,-1633.714420,0.046702,0.057680
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,341.0,9885.59,637.78,626.58,4036,93594.84,144929.24,-83709.25,-846.780516,0.084490,0.105621
3,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,170.0,5948.30,769.78,312.35,3307,86874.89,68601.68,-80926.59,-1360.499470,0.051406,0.068470
4,8004,SAZERAC CO INC,5138,Fireball Cinnamon Whisky,11.10,13.99,750.0,344.0,4812.56,601.57,270.86,5998,66577.80,50293.62,-61765.24,-1283.417557,0.057352,0.072285

In [6]:
purchases= pd.read_sql_query('select * from purchases where VendorNumber = 4466',conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,34_PITMERDEN_3140,34,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,11.19,5,55.95,1
1,34_PITMERDEN_3140,34,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-26,2025-01-04,2025-02-10,11.19,4,44.76,1
2,48_NORFOLK_5255,48,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-26,2025-01-04,2025-02-10,9.35,5,46.75,1
3,73_DONCASTER_5255,73,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.35,5,46.75,1
4,63_SWORDBREAK_3140,63,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,11.19,6,67.14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
64,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
65,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
66,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
67,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [7]:
purchase_prices=pd.read_sql_query("""select * from purchase_prices where VendorNumber = 4466""",conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [8]:
vendor_invoice = pd.read_sql_query("""select * from vendor_invoice where VendorNumber = 4466""",conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [9]:
sales=pd.read_sql_query("""select * from sales where VendorNo =4466""",conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-04,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-05,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-12-07,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
4,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-12-11,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
5,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-12-14,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
6,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-16,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
7,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-17,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
8,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-18,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,3,38.97,12.99,2024-12-21,1750.0,1,5.51,4466,AMERICAN VINTAGE BEVERAGE
10,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-12-22,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
11,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,4,51.96,12.99,2024-12-23,1750.0,1,7.35,4466,AMERICAN VINTAGE BEVERAGE
12,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-28,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
13,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-30,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
14,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,2024-12-16,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
15,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
16,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-26,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
17,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-28,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
18,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,4,51.96,12.99,2024-12-31,1750.0,1,7.35,4466,AMERICAN VINTAGE BEVERAGE
19,9_BLACKPOOL_3140,9,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-12-24,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
20,9_BLACKPOOL_3140,9,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
21,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
22,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
23,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
24,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
25,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
26,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [10]:
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,34_PITMERDEN_3140,34,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,11.19,5,55.95,1
1,34_PITMERDEN_3140,34,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-26,2025-01-04,2025-02-10,11.19,4,44.76,1
2,48_NORFOLK_5255,48,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-26,2025-01-04,2025-02-10,9.35,5,46.75,1
3,73_DONCASTER_5255,73,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.35,5,46.75,1
4,63_SWORDBREAK_3140,63,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,11.19,6,67.14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
64,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
65,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
66,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
67,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [11]:
purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity  Dollars
Brand PurchasePrice
3140  11.19                63   704.97
5215  9.41                126  1185.66
5255  9.35                224  2094.40

In [12]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [13]:
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [14]:
vendor_invoice['PONumber'].nunique()  # to find unique record count

55

In [15]:
vendor_invoice.shape # Count number of rows and columns

(55, 10)

In [16]:
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-04,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-05,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-12-07,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
4,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-12-11,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
5,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-12-14,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
6,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-16,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
7,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-17,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
8,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-18,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,3,38.97,12.99,2024-12-21,1750.0,1,5.51,4466,AMERICAN VINTAGE BEVERAGE
10,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-12-22,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
11,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,4,51.96,12.99,2024-12-23,1750.0,1,7.35,4466,AMERICAN VINTAGE BEVERAGE
12,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-28,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
13,8_ALNERWICK_5215,8,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-30,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
14,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,2024-12-16,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
15,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
16,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-26,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
17,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-28,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
18,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,4,51.96,12.99,2024-12-31,1750.0,1,7.35,4466,AMERICAN VINTAGE BEVERAGE
19,9_BLACKPOOL_3140,9,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-12-24,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
20,9_BLACKPOOL_3140,9,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
21,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
22,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
23,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
24,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
25,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
26,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [17]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
3140          25.98       25.98              2
5215         324.75      207.84             25
5255         168.87      116.91             13

-The purchase table cntains actual purchase data, including the date of purchase, products(brands) purchase by vendors,
    the amount paid(in dollaer), and the quantity purchase.
    
    
-The purchase price column is derived from the purchase_price table, which provides productwise actual and purchase prices.
    The combination of vender and brandis unique in this table.
    
    
-The vendor invoice table aggregates data from the purchase table, summarizing quantity and dollar amounts, along with an additional column for freight.
    This table maintains uniqueness based on vendor and PO number.
    

-The  sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the reveneau earned.
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:
    
    

-purchase transaction made by vendors


-sales transaction data


-freight costs for each vendor


-actual product prices from vendors

In [18]:
freight_summary=pd.read_sql_query('''select VendorNumber,SUM(Freight) as FreightCost
from vendor_invoice
Group BY VendorNumber''',conn)

In [19]:
freight_summary

     VendorNumber  FreightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [20]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [21]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [22]:
pd.read_sql_query("""select
    p.VendorNumber,
    p.VendorName,
    p.Brand,p.PurchasePrice,
    pp.Volume,
    pp.Price as ActualPrice,
    sum(p.Quantity) as TotalPurchaseQuantity,
    sum(p.Dollars) as TotalPurchaseDollars
    from Purchases p
    join purchase_prices pp
    on p.Brand=pp.Brand
    where p.PurchasePrice>0
    group by p.VendorNumber,p.VendorName, p.Brand
    order by TotalPurchaseDollars""",conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,6213,MHW LTD,4124,0.72,50,0.99,1,0.72
1,8352,LUXCO INC,2057,0.77,50,0.99,1,0.77
2,12546,JIM BEAM BRANDS COMPANY,2792,0.78,50,0.99,1,0.78
3,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
4,11567,CAMPARI AMERICA,3386,0.75,50,0.99,2,1.50
...,...,...,...,...,...,...,...,...
4696,8004,SAZERAC CO INC,5138,11.10,750,13.99,5998,66577.80
4697,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,3307,86874.89
4698,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,4036,93594.84
4699,17035,PERNOD RICARD USA,2589,30.76,1750,39.99,3169,97478.44
4700,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,6798,109923.66

In [23]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [24]:
pd.read_sql_query("""select 
    VendorNo,
    Brand,
    sum(SalesDollars) as TotalSalesDollars,
    sum(SalesPrice) as TotalSalesPrice,
    sum(SalesQuantity) as TotalSalesQuantity,
    sum(ExciseTax) as TotalExciseTax
    from sales
    group by VendorNo, Brand
    order by TotalSalesDollars""",conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,1392,2704,0.99,0.99,1,0.05
1,8004,2177,0.99,0.99,1,0.05
2,3924,9123,1.98,0.99,2,0.10
3,9625,4111,4.95,3.96,5,0.25
4,3252,46163,6.49,6.49,1,0.03
...,...,...,...,...,...,...
2490,17035,5364,7167.61,1259.58,239,439.11
2491,3960,8082,8783.97,1188.59,303,556.73
2492,17035,8068,9349.02,986.58,398,731.31
2493,4425,3405,9885.59,637.78,341,626.58
2494,3960,4261,10851.83,461.78,517,949.94

In [25]:
import time
start=time.time()
final_table=pd.read_sql_query('''select
    pp.VendorNumber,
    pp.Brand,
    pp.Price,
    pp.PurchasePrice,
    sum(s.SalesQuantity) as TotalSalesQuantity,
    sum(s.SalesDollars) as TotalSalesDollars,
    sum(s.SalesPrice) as TotalSalesPrice,
    sum(s.ExciseTax) as TotalExciseTax,
    sum(vi.Quantity) as TotalPurchaseQuantity,
    sum(vi.Dollars) as TotalPurchaseDollars,
    sum(vi.Freight) as TotalFreightCost
    from purchase_prices pp
    join sales s
    on pp.VendorNumber=s.vendorNo
    and pp.Brand=s.Brand
    join vendor_invoice vi
    on pp.VendorNumber=vi.VendorNumber
    group by pp.VendorNumber,pp.Brand,pp.Price,pp.PurchasePrice''',conn)
end=time.time()
total_time=(end-start)/60
print(f'\n Total Time Taken: {total_time} minutes')

 Total Time Taken: 0.042957242329915366 minutes

In [26]:
vendor_sales_summary=pd.read_sql_query("""with FreightSummary as(
select
    VendorNumber,
    sum(Freight) as FreightCost
    from vendor_invoice
    group by VendorNumber
),
PurchaseSummary as(
select
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.Description,
    p.PurchasePrice, 
    pp.price as ActualPrice,
    pp.Volume,
    sum(p.Quantity) as TotalPurchaseQuantity,
    sum(p.Dollars) as TotalPurchaseDollars
    from Purchases p
    join purchase_prices pp
    on p.Brand=pp.Brand
    where p.PurchasePrice>0
    group by p.VendorNumber,p.VendorName, p.Brand,p.Description,p.PurchasePrice,pp.Price,pp.Volume
),
SalesSummary as(
select
    VendorNo,
    Brand,
    sum(s.SalesQuantity) as TotalSalesQuantity,
    sum(s.SalesDollars) as TotalSalesDollars,
    sum(s.SalesPrice) as TotalSalesPrice,
    sum(s.ExciseTax) as TotalExciseTax
    from sales s
    group by VendorNo,Brand
) 

select
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice, 
    ps.ActualPrice,
    ps.Volume,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    fs.FreightCost
    from PurchaseSummary ps
    
    left join SalesSummary ss
    on ps.VendorNumber = ss.VendorNo
    and ps.Brand=ss.Brand
    
    left join FreightSummary fs
    on ps.VendorNumber= fs.VendorNumber
    order by ps.TotalPurchaseDollars desc
""",conn)

In [27]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,517.0,10851.83,461.78,949.94,6798,109923.66,257032.07
1,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,1750,148.0,5622.52,835.78,271.95,3169,97478.44,123780.22
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,341.0,9885.59,637.78,626.58,4036,93594.84,144929.24
3,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,170.0,5948.30,769.78,312.35,3307,86874.89,68601.68
4,8004,SAZERAC CO INC,5138,Fireball Cinnamon Whisky,11.10,13.99,750,344.0,4812.56,601.57,270.86,5998,66577.80,50293.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4696,11567,CAMPARI AMERICA,3386,Skyy Infusions Cranberry,0.75,0.99,50,39.0,38.61,11.88,2.03,2,1.50,20964.81
4697,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2.0,1.98,0.99,0.10,2,1.48,14069.87
4698,12546,JIM BEAM BRANDS COMPANY,2792,Jim Beam Apple,0.78,0.99,50,NaN,NaN,NaN,NaN,1,0.78,123880.97
4699,8352,LUXCO INC,2057,Rebel Yell Root Beer Bourbon,0.77,0.99,50,37.0,36.63,14.85,1.92,1,0.77,10261.60
4700,6213,MHW LTD,4124,Blue Chair Bay Banana Cream,0.72,0.99,50,70.0,69.30,16.83,3.65,1,0.72,9621.58

In [28]:
final_table

,VendorNumber,Brand,Price,PurchasePrice,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,TotalFreightCost
0,388,2034,32.99,21.32,106,2966.94,2966.94,83.74,3694,8.223264e+04,423.48
1,480,126,32.99,20.14,4345,129811.55,36067.90,4562.25,31395650,3.877363e+08,1964297.94
2,480,443,33.99,24.45,660,23093.40,19244.50,520.30,14270750,1.762438e+08,892862.70
3,480,508,12.99,9.77,2365,35533.85,13081.20,2483.25,22833200,2.819901e+08,1428580.32
4,480,743,45.99,36.50,385,19246.15,13747.25,303.60,7135375,8.812189e+07,446431.35
...,...,...,...,...,...,...,...,...,...,...,...
2474,90058,22297,9.99,6.75,385,3846.15,2747.25,42.90,52750,4.306135e+05,2243.40
2475,90058,22298,12.49,8.06,165,2060.85,1373.90,18.15,21100,1.722454e+05,897.36
2476,90058,25126,9.99,6.62,275,2747.25,2197.80,30.25,42200,3.444908e+05,1794.72
2477,98450,2241,25.99,20.46,270,7017.30,7017.30,213.30,52315,8.449681e+05,4280.10
2478,98450,4145,19.99,12.68,378,6422.22,5504.76,694.98,62778,1.013962e+06,5136.12

In [29]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
FreightCost              float64
dtype: object

In [30]:
vendor_sales_summary.isnull().sum()

VendorNumber                0
VendorName                  0
Brand                       0
Description                 0
PurchasePrice               0
ActualPrice                 0
Volume                      0
TotalSalesQuantity       2319
TotalSalesDollars        2319
TotalSalesPrice          2319
TotalExciseTax           2319
TotalPurchaseQuantity       0
TotalPurchaseDollars        0
FreightCost                 0
dtype: int64

In [31]:
vendor_sales_summary.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,517.0,10851.83,461.78,949.94,6798,109923.66,257032.07
1,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,1750,148.0,5622.52,835.78,271.95,3169,97478.44,123780.22
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,341.0,9885.59,637.78,626.58,4036,93594.84,144929.24
3,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,170.0,5948.30,769.78,312.35,3307,86874.89,68601.68
4,8004,SAZERAC CO INC,5138,Fireball Cinnamon Whisky,11.10,13.99,750,344.0,4812.56,601.57,270.86,5998,66577.80,50293.62

In [32]:
vendor_sales_summary['VendorName'].unique()   #irrelevent White spaces

array(['DIAGEO NORTH AMERICA INC   ', 'PERNOD RICARD USA          ',
       'MARTIGNETTI COMPANIES', 'BROWN-FORMAN CORP          ',
       'SAZERAC CO INC             ', 'JIM BEAM BRANDS COMPANY    ',
       'WILLIAM GRANT & SONS INC   ', 'ULTRA BEVERAGE COMPANY LLP ',
       'SIDNEY FRANK IMPORTING CO  ', 'STOLI GROUP,(USA) LLC      ',
       'PROXIMO SPIRITS INC.       ', 'MOET HENNESSY USA INC      ',
       'E & J GALLO WINERY         ', 'BACARDI USA INC            ',
       'M S WALKER INC             ', 'CASTLE BRANDS CORP.        ',
       'MAJESTIC FINE WINES        ', 'STE MICHELLE WINE ESTATES  ',
       'BANFI PRODUCTS CORP        ', 'WINE GROUP INC             ',
       'CONSTELLATION BRANDS INC   ', 'SAZERAC NORTH AMERICA INC. ',
       'TREASURY WINE ESTATES      ', 'KOBRAND CORPORATION        ',
       'PERFECTA WINES             ', 'REMY COINTREAU USA INC     ',
       'MHW LTD                    ', 'EDRINGTON AMERICAS         ',
       'CAMPARI AMERICA            ', 'STATE WINE & SPIRITS   ',
       'SEA HAGG DISTILLERY LLC    ', 'DISARONNO INTERNATIONAL LLC',
       'PINE STATE TRADING CO      ', 'PALM BAY INTERNATIONAL INC ',
       'TRINCHERO FAMILY ESTATES   ', 'VRANKEN AMERICA            ',
       'SOUTHERN WINE & SPIRITS NE ', 'WESTERN SPIRITS BEVERAGE CO',
       'DELICATO VINEYARDS INC     ', 'HEAVEN HILL DISTILLERIES   ',
       'TY KU LLC                  ', 'SMOKY QUARTZ DISTILLERY LLC',
       'SHAW ROSS INT L IMP LTD    ', 'DIAGEO CHATEAU ESTATE WINES',
       'VINEYARD BRANDS INC        ', 'LUXCO INC                  ',
       'FREDERICK WILDMAN & SONS   ', 'CALEDONIA SPIRITS INC      ',
       'Serralles Usa LLC          ', 'TALL SHIP DISTILLERY LLC   ',
       'ADAMBA IMPORTS INTL INC    ', 'MANGO BOTTLING INC         ',
       'OLE SMOKY DISTILLERY LLC   ', 'CHARLES JACQUIN ET CIE INC ',
       'MARSALLE COMPANY           ', 'KLIN SPIRITS LLC           ',
       'FLAG HILL WINERY & VINEYARD', 'SWEET BABY VINEYARD        ',
       'STARK BREWING COMPANY      ', 'PHILLIPS PRODUCTS CO.      ',
       'WEIN BAUER INC             ', 'LABELLE VYDS AND WINERY    ',
       'PREMIER DISTRIBUTORS       ', 'BULLY BOY DISTILLERS       ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MCCORMICK DISTILLING CO    ',
       'Russian Standard Vodka     ', 'FABRIZIA SPIRITS LLC       ',
       'TAMWORTH DISTILLING        ', 'LATITUDE BEVERAGE COMPANY  ',
       'ZORVINO VINEYARDS          ', 'VINILANDIA USA             ',
       'PREMIUM PORT WINES, INC.   ', 'NICHE W & S                ',
       'TAKARA SAKE USA INC        ', 'PARK STREET IMPORTS LLC    ',
       'DJINN SPIRITS LLC          ', 'JEWELL TOWNE VINEYARDS     ',
       'SEA BREEZE CELLARS LLC     ', 'BLACK COVE BEVERAGES       ',
       'CANDIA VINEYARDS           ', 'LAIRD & CO                 ',
       'ATLANTIC IMPORTING COMPANY ', 'VINEXTRA INC               ',
       'PSP WINES ', 'DUGGANS DISTILLED PRODUCTS ',
       'SURVILLE ENTERPRISES CORP  ', 'MOONLIGHT MEADERY          ',
       'POVERTY LANE ORCHARDS      ', 'CRUSH WINES                ',
       'FULCHINO VINEYARD INC      ', 'STELLAR IMPORTING CO LLC   ',
       'INCREDIBREW INC            ', 'ALTAMAR BRANDS LLC         ',
       'WALPOLE MTN VIEW WINERY    ', 'SWEETWATER FARM         ',
       'HIGHLAND WINE MERCHANTS LLC', 'VINEYARD BRANDS LLC        ',
       'GILMANTON WINERY & VINEYARD', 'CENTEUR IMPORTS LLC        ',
       'LOYAL DOG WINERY           ', 'Dunn Wine Brokers          ',
       'FORTUNE WINE BROKERS LLC   ', 'THE IMPORTED GRAPE LLC     ',
       'Circa Wines                ', 'HAUNTING WHISPER VYDS      ',
       'THE PIERPONT GROUP LLC     ', 'BLACK PRINCE DISTILLERY INC',
       'UNCORKED       ', 'BRONCO WINE COMPANY        ',
       'HOOD RIVER DISTILLERS, Inc.'], dtype=object)

In [33]:
vendor_sales_summary['Description'].unique()

array(['Capt Morgan Spiced Rum', 'Jameson Irish Whiskey',
       "Tito's Handmade Vodka", ..., 'Capt Morgan Jack O Blast',
       'Rebel Yell Root Beer Bourbon', 'Blue Chair Bay Banana Cream'],
      dtype=object)

In [34]:
vendor_sales_summary['Volume']=vendor_sales_summary['Volume'].astype('float64')

In [35]:
vendor_sales_summary.fillna(0,inplace=True)

In [36]:
vendor_sales_summary['VendorName']=vendor_sales_summary['VendorName'].str.strip()

In [37]:
vendor_sales_summary['GrossProfit']=vendor_sales_summary['TotalSalesDollars']-vendor_sales_summary['TotalPurchaseDollars']

In [38]:
vendor_sales_summary['GrossProfit']

0      -99071.83
1      -91855.92
2      -83709.25
3      -80926.59
4      -61765.24
          ...
4696       37.11
4697        0.50
4698       -0.78
4699       35.86
4700       68.58
Name: GrossProfit, Length: 4701, dtype: float64

In [39]:
vendor_sales_summary['GrossProfit'].min()

-99071.83

In [40]:
vendor_sales_summary['ProfitMargin']=(vendor_sales_summary['GrossProfit']/vendor_sales_summary['TotalSalesDollars'])*100

In [41]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,517.0,10851.83,461.78,949.94,6798,109923.66,257032.07,-99071.83,-912.950442
1,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,1750.0,148.0,5622.52,835.78,271.95,3169,97478.44,123780.22,-91855.92,-1633.714420
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,341.0,9885.59,637.78,626.58,4036,93594.84,144929.24,-83709.25,-846.780516
3,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,170.0,5948.30,769.78,312.35,3307,86874.89,68601.68,-80926.59,-1360.499470
4,8004,SAZERAC CO INC,5138,Fireball Cinnamon Whisky,11.10,13.99,750.0,344.0,4812.56,601.57,270.86,5998,66577.80,50293.62,-61765.24,-1283.417557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4696,11567,CAMPARI AMERICA,3386,Skyy Infusions Cranberry,0.75,0.99,50.0,39.0,38.61,11.88,2.03,2,1.50,20964.81,37.11,96.114996
4697,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2.0,1.98,0.99,0.10,2,1.48,14069.87,0.50,25.252525
4698,12546,JIM BEAM BRANDS COMPANY,2792,Jim Beam Apple,0.78,0.99,50.0,0.0,0.00,0.00,0.00,1,0.78,123880.97,-0.78,-inf
4699,8352,LUXCO INC,2057,Rebel Yell Root Beer Bourbon,0.77,0.99,50.0,37.0,36.63,14.85,1.92,1,0.77,10261.60,35.86,97.897898
4700,6213,MHW LTD,4124,Blue Chair Bay Banana Cream,0.72,0.99,50.0,70.0,69.30,16.83,3.65,1,0.72,9621.58,68.58,98.961039

In [42]:
vendor_sales_summary['StockTurnover']=vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [43]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,StockTurnover
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,517.0,10851.83,461.78,949.94,6798,109923.66,257032.07,-99071.83,-912.950442,0.076052
1,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,1750.0,148.0,5622.52,835.78,271.95,3169,97478.44,123780.22,-91855.92,-1633.714420,0.046702
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,341.0,9885.59,637.78,626.58,4036,93594.84,144929.24,-83709.25,-846.780516,0.084490
3,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,170.0,5948.30,769.78,312.35,3307,86874.89,68601.68,-80926.59,-1360.499470,0.051406
4,8004,SAZERAC CO INC,5138,Fireball Cinnamon Whisky,11.10,13.99,750.0,344.0,4812.56,601.57,270.86,5998,66577.80,50293.62,-61765.24,-1283.417557,0.057352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4696,11567,CAMPARI AMERICA,3386,Skyy Infusions Cranberry,0.75,0.99,50.0,39.0,38.61,11.88,2.03,2,1.50,20964.81,37.11,96.114996,19.500000
4697,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2.0,1.98,0.99,0.10,2,1.48,14069.87,0.50,25.252525,1.000000
4698,12546,JIM BEAM BRANDS COMPANY,2792,Jim Beam Apple,0.78,0.99,50.0,0.0,0.00,0.00,0.00,1,0.78,123880.97,-0.78,-inf,0.000000
4699,8352,LUXCO INC,2057,Rebel Yell Root Beer Bourbon,0.77,0.99,50.0,37.0,36.63,14.85,1.92,1,0.77,10261.60,35.86,97.897898,37.000000
4700,6213,MHW LTD,4124,Blue Chair Bay Banana Cream,0.72,0.99,50.0,70.0,69.30,16.83,3.65,1,0.72,9621.58,68.58,98.961039,70.000000

In [44]:
vendor_sales_summary['SalestoPurchaseRatio']=vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [45]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,517.0,10851.83,461.78,949.94,6798,109923.66,257032.07,-99071.83,-912.950442,0.076052,0.098722
1,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,1750.0,148.0,5622.52,835.78,271.95,3169,97478.44,123780.22,-91855.92,-1633.714420,0.046702,0.057680
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,341.0,9885.59,637.78,626.58,4036,93594.84,144929.24,-83709.25,-846.780516,0.084490,0.105621
3,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,170.0,5948.30,769.78,312.35,3307,86874.89,68601.68,-80926.59,-1360.499470,0.051406,0.068470
4,8004,SAZERAC CO INC,5138,Fireball Cinnamon Whisky,11.10,13.99,750.0,344.0,4812.56,601.57,270.86,5998,66577.80,50293.62,-61765.24,-1283.417557,0.057352,0.072285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4696,11567,CAMPARI AMERICA,3386,Skyy Infusions Cranberry,0.75,0.99,50.0,39.0,38.61,11.88,2.03,2,1.50,20964.81,37.11,96.114996,19.500000,25.740000
4697,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2.0,1.98,0.99,0.10,2,1.48,14069.87,0.50,25.252525,1.000000,1.337838
4698,12546,JIM BEAM BRANDS COMPANY,2792,Jim Beam Apple,0.78,0.99,50.0,0.0,0.00,0.00,0.00,1,0.78,123880.97,-0.78,-inf,0.000000,0.000000
4699,8352,LUXCO INC,2057,Rebel Yell Root Beer Bourbon,0.77,0.99,50.0,37.0,36.63,14.85,1.92,1,0.77,10261.60,35.86,97.897898,37.000000,47.571429
4700,6213,MHW LTD,4124,Blue Chair Bay Banana Cream,0.72,0.99,50.0,70.0,69.30,16.83,3.65,1,0.72,9621.58,68.58,98.961039,70.000000,96.250000

In [46]:
cursor=conn.cursor()

In [47]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'FreightCost', 'GrossProfit', 'ProfitMargin',
       'StockTurnover', 'SalestoPurchaseRatio'],
      dtype='object')

In [48]:
cursor.execute('''create table vendor_sales_summary(
    VendorNumber int,
    VendorName  varchar(100),
    Brand int,
    Description varchar(100),
    PurchasePrice decimal(15,2), 
    ActualPrice decimal(15,2),
    Volume,
    TotalSalesQuantity int,
    TotalSalesDollars decimal(15,2),
    TotalSalesPrice decimal(15,2),
    TotalExciseTax decimal(15,2),
    TotalPurchaseQuantity int,
    TotalPurchaseDollars decimal(15,2),
    FreightCost decimal(15,2),
    GrossProfit decimal(15,2),
    ProfitMargin decimal(15,2),
    StockTurnover decimal(15,2),
    SalestoPurchaseRatio decimal(15,2),
    primary key (VendorNumber,Brand)
);
''')

OperationalError: table vendor_sales_summary already exists

In [ ]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

In [ ]:
vendor_sales_summary.to_sql('vender_sales_summary',conn, if_exists='replace',index=False)

In [49]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db


logging.basicConfig(
    filename="logs/get_vender_summary.log",
    level=logging.DEBUG,
    format='%(asctime)s-%(levelname)s-%(message)s',
    filemode='a'
)

def create_vendor_summary(conn):
    """this function will merge the different table to get the overall vender summary and adding new columns in the resultant data"""
    vendor_sales_summary=pd.read_sql_query("""with FreightSummary as(
        select
            VendorNumber,
            sum(Freight) as FreightCost
            from vendor_invoice
            group by VendorNumber
        ),
        PurchaseSummary as(
        select
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice, 
            pp.price as ActualPrice,
            pp.Volume,
            sum(p.Quantity) as TotalPurchaseQuantity,
            sum(p.Dollars) as TotalPurchaseDollars
            from Purchases p
            join purchase_prices pp
            on p.Brand=pp.Brand
            where p.PurchasePrice>0
            group by p.VendorNumber,p.VendorName, p.Brand,p.Description,p.PurchasePrice,pp.Price,pp.Volume
        ),
        SalesSummary as(
        select
            VendorNo,
            Brand,
            sum(s.SalesQuantity) as TotalSalesQuantity,
            sum(s.SalesDollars) as TotalSalesDollars,
            sum(s.SalesPrice) as TotalSalesPrice,
            sum(s.ExciseTax) as TotalExciseTax
            from sales s
            group by VendorNo,Brand
        ) 

        select
            ps.VendorNumber,
            ps.VendorName,
            ps.Brand,
            ps.Description,
            ps.PurchasePrice, 
            ps.ActualPrice,
            ps.Volume,
            ss.TotalSalesQuantity,
            ss.TotalSalesDollars,
            ss.TotalSalesPrice,
            ss.TotalExciseTax,
            ps.TotalPurchaseQuantity,
            ps.TotalPurchaseDollars,
            fs.FreightCost
            from PurchaseSummary ps

            left join SalesSummary ss
            on ps.VendorNumber = ss.VendorNo
            and ps.Brand=ss.Brand

            left join FreightSummary fs
            on ps.VendorNumber= fs.VendorNumber
            order by ps.TotalPurchaseDollars desc
        """,conn)
    return vendor_sales_summary


def clean_data(df):
    '''this function will clean the data'''
    df['Volume'] = df['Volume'].astype('float64')
    df.fillna(0, inplace=True)
    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()
    
    df['GrossProfit'] = df['TotalSalesDollars'] - df['TotalPurchaseDollars']
    df['ProfitMargin'] = (df['GrossProfit'] / df['TotalSalesDollars'].replace(0, 1)) * 100
    df['StockTurnover'] = df['TotalSalesQuantity'] / df['TotalPurchaseQuantity'].replace(0, 1)
    df['SalestoPurchaseRatio'] = df['TotalSalesDollars'] / df['TotalPurchaseDollars'].replace(0, 1)
    
    return df
    
    
if __name__ == '__main__':
    try:
        conn = sqlite3.connect('inventory.db')
        logging.info('Creating Vendor Summary Table..')
        summary_df = create_vendor_summary(conn)
        logging.info(summary_df.head())

        logging.info('Cleaning data..')
        clean_df = clean_data(summary_df)
        logging.info(clean_df.head())

        logging.info('Ingesting Data....')
        ingest_db(clean_df, 'vendor_sales_summary', conn)
        logging.info('Completed')

    except Exception as e:
        logging.error(f"Error in processing: {e}")

In [50]:
clean_df = clean_data(summary_df)

In [51]:
print(clean_df.columns)

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'FreightCost', 'GrossProfit', 'ProfitMargin',
       'StockTurnover', 'SalestoPurchaseRatio'],
      dtype='object')

In [52]:
logging.info(clean_df.columns)